<IfModule authz_core_module>
    #Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond $1 !^(index\.php|files|images|js|css|robots\.txt|favicon\.ico)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
<IfModule mod_env.c>
    #Change this to set environment of application
    SetEnv CI_ENV development
    #SetEnv CI_ENV testing
    #SetEnv CI_ENV production
    SetEnv CI_ENV_LOC local
    #SetEnv CI_ENV_LOC remote
</IfModule>