<ion-header>
  <ion-navbar>
    <ion-title>
      Scan item jazå
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-icon name = "store"> </ion-icon>
    <button ion-button block (click)="scan()">Scan</button>

    
        <ion-list *ngFor="let post of posts">
        <ion-item-sliding >
            <ion-item>
                <ion-card>
                    <ion-card-header>
                        {{post.itemName}}
                    </ion-card-header>
                    <ion-card-content>
                        $ {{post.itemPrice}}
                    </ion-card-content> 
                </ion-card>
            </ion-item>

            <ion-item-options>
                <button ion-button icon-only (click)="deleteNote(post)" danger>
                    <ion-icon name="trash"></ion-icon>
                    </button>
            </ion-item-options>

        </ion-item-sliding >
            
    </ion-list>
    
    <button ion-button block (click)="changePage()">Checkout</button>
</ion-content>
  

    
<!--    <ion-list>
 
        <ion-item-sliding *ngFor="let item of shoppingItems">
 
            <ion-item>
                {{item}}
            </ion-item>
 
            <ion-item-options>
                <button ion-button icon-only (click)="editNote(item)" light>
                    <ion-icon name="ion-plus-circled"></ion-icon>
                </button>
                <button ion-button icon-only (click)="editNote(item)" light>
                    <ion-icon name="ion-minus-circled"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deleteNote(item)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
 
        <button ion-button block (click)="______">Checkout</button>

        
            
        </ion-item-sliding>
 
    </ion-list> -->
